nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
nav ul a:visited {
    color: white;
    text-decoration: none;
}

nav li {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid black;
}

