.navBarElement nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
}

.navBarElement ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBarElement li {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.navBarElement a:visited {
    color: white;
    text-decoration: none;
}

.navBarElement .default-link {
    border: 1px solid transparent;
}

.navBarElement .active-link {
    border: 1px solid red;
}

@media (max-width: 768px) {
    .navBarElement nav {
        flex-direction: column;
        align-items: center;
    }
    .navBarElement ul {
        flex-direction: column;
    }
}
